* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

h1, h2, p {
  margin: 0;
}

body {
  background-color: hsl(0deg, 0%, 40%);
  color: hsl(0deg, 0%, 0%);
}

header {
  background-color: hsl(0deg, 0%, 100%);
  border-block-end: 8px solid hsl(0deg, 0%, 60%);
  padding-block-start: 96px;
  padding-block-end: 64px;
}

main {
  padding-block: 64px;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-block-end: 48px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin-block-start: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
  font-weight: 800;
}

.intro-chunk {
  max-width: 450px;
  padding-inline: 24px;
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding-inline: 24px;
  padding-block-start: 8px;
  padding-block-end: 24px;
  border-block-end: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-block-end: 8px solid hsl(45deg, 100%, 40%);
  padding-block: 16px;
  padding-inline-start: 32px;
  padding-inline-end: 32px;
  margin-inline-start: -32px;
  width: fit-content;
}
